<!DOCTYPE html>
<html>
<head>
  <title>Potholes</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <% page_id = "#{controller_name} #{action_name}" %>
  <% if page_id == "map show" || page_id == "map index"%>
    <%= render 'layouts/load_map.html' %>
  <% end %>
      
</head>
<body>

<%= yield %>

</body>
</html>
